/* Styles */

/* Frame */
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;

	background: #1c3444;
	background: linear-gradient(135deg, #1c3444 0%, #11222d 100%);

	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a7d6f7;
	text-shadow: 0 1px 0 #11222d;
}

body * {
	border: 0; /* Prevents borders in IE 5.5 to 8 */
}

/* Typography */
h1, h2 {
	font-weight: 200;
	line-height: 1em;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 3em;
	padding-bottom: .5em;
}

h2 {
	font-size: 1.5em;
	padding-bottom: 1.2em;
}

small {
	color: #5a85a4;
}

a {
	color: #a7d6f7;
	text-decoration: underline;
	margin-right: 10px;
	display: inline-block;
}

a:hover {
	color: #5a85a4;
}

/* Blocks */
.main {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	padding-top: 40px;
}

.header, .section, .footer {
	padding-left: 40px;
}

.section {
	padding-bottom: 40px;
}

/* Icons */
.icon {
	height: 50px; /* Constrains the SVG to its own viewbox */
	width: 50px; /* Constrains the SVG to its own viewbox */
	transition: .2s;
	-webkit-filter: drop-shadow(0 1px 0 #11222d);
}

a:hover .icon {
	-webkit-filter: drop-shadow(0 0 4px rgba(167, 214, 255, 0.6));
}